body {

    color: #050505;
}
.jumbotron {
    background-image: url("	https://p5-tt.byteimg.com/origin/pgc-image/99716af127e64312bb64e68ad27a9577.jpg");
    background-size: 100% 100%;
    text-align: center;
    color: #050505;
}